name: Backend Tests

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/backend_tests.yml"
      - "backend/**"
      - "lucene/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/backend_tests.yml"
      - "backend/**"
      - "lucene/**"

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - "3.11"
          # Only test one Python version for now to save computation budget
          # - "3.12"

    name: Python ${{ matrix.python }}

    env:
      DATA_DIR: ${{ github.workspace }}/backend/tests/assets
      COLLECTION_NAME: toy_collection
      LOG_LEVEL: DEBUG

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: maven
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Install Python dependencies
        working-directory: backend
        run: uv sync --frozen
      - name: Start Lucene server
        working-directory: lucene
        run: |
          mvn clean package
          java --enable-native-access=ALL-UNNAMED --add-modules jdk.incubator.vector -jar target/fainder-demo-1.0-SNAPSHOT.jar &
      - name: Run tests
        working-directory: backend
        run: |
          sleep 1
          uv run pytest tests --junitxml=tests/pytest.xml --cov=backend --cov-report=term-missing:skip-covered
